@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/***Using Sass***/
p {
  $width: 400px;
  $height: 100px;
  width: $width/2;            // Uses a variable, does division
  height: ($height/2);          // Uses parentheses, does division
  margin-left: 5px + 8px/2px; // Uses +, does division
}

#content {
  border: solid;
}
